*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}
body{
    height: 100vh;
}
nav.menu-lateralP{
    margin-left: 20px;

}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menuP a{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    padding: 7px 3%;
    display:flex;
    line-height: 25px;
}
ul li.item-menuP a .txt-link{
    margin-left: 20px;
    
}
ul li.item-menuP a .icon >i{
    font-size: 30px;


}
  
.containerP{
    padding:0 !important;
    width: 300px;
    height: 559px;
    background-color: rgb(46, 46, 46);
    padding: 20px 0 63px 1%;
  }